{
  "servicerUsername": "your email",
  "servicerPassword": "your pw",
  "customerUsername": "demo.ca@leaflink.com",
  "customerPassword": "demo.ca password in 1pass",
  "dbUser": "",
  "dbHost": "",
  "dbName": "",
  "dbPort": "",
  "dbPass": "",
  "auth0_client_id": "",
  "payHubClientId": "",
  "payHubClientSecret": "",
}
